
/* responsivo 2

all: para todos os dispositivos 

braille: para dispositivos tateis lido com a mao (cego)

handheld:para telas portateis e dispositivos geralmente com telas pequenas 
e banda ilimitadas.

embossed: para dispositivos que imprimem em  braile.

print: para ser imprimido em papel com uma marca d'agua da logo 

projetion: para apresentações como pss.

screen: para monitores e dispositivos com telas coloridas e resoluções adquadas .

spech:para sentetizadores de voz . as css 2 tem uma especificação de css 
chamada aural onde podemos formatar a voz dos sintetizadores.


orientation: 
portrait: para adqua a tela em dispositivos em pé 

landscape: para adqua dispositivos deitados
*/




*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* potrait celular em pe */
.oi{
    height: 500px;
    width: 500px;
    background: blue;
}

@media screen and (max-width: 600px) and (orientation: portrait){
    .oi {
        height: 200px;
        width: 200px;
        background-color: red;
    }
    
}


/* landscape celular deitado*/
.d2{
    height: 300px;
    width: 300px;
    background: blue;
}

@media screen and (max-width: 400px) and (orientation: landscape){
    .d2 {
        height: 600px;
        width: 600px;
        background-color: red;
    }
    
}