@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {                  /* manu */
    font-size: 18px;
    font-family:monospace;
    word-spacing: 15px;
    margin: 15px 130px 0px;
    
}

a{color: black;}    /*cor da letra menu*/

.but{                   /* botoes */
    font-size: 18px;
    font-family:monospace;
    transition: background-color 0.2s ease ;
    background: rgb(59, 199, 59);
    color: black;   
    padding:0px 10px;
    border-radius: 10px;
    cursor: pointer;
}   
.but:hover{         /*transição de botoes */
    background: goldenrod;
}


figure {display: inline-block;} /*caixa de imagem*/

img {
    width: 400px;
    margin-left: 85px;
    margin-right: 30px;
}

figcaption{margin-left: 200px;} /*nome da imagem */

section {width: 500px; display: inline-block;}  /*caixa texto */

h1{
    height: 150px;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    color:blue;
    
}
 
p {
    height: 150px;
    font-weight: 100;
    font-size: 18px;
    line-height: 29px;
    width: 500px;
       
}

.but2 { 
    border-radius: 50px;
    font-size: 30px;
    margin-left: 100px;
       
}
